STITCH/json/Telegram AI-bot.json
{
  "name": "Telegram AI-bot",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "*"
        ],
        "additionalFields": {}
      },
      "id": "285d2c4d-51f6-4df9-9a46-188e6eccf560",
      "name": "Telegram Trigger",
      "type": "n8n-nodes-base.telegramTrigger",
      "position": [
        -1216,
        592
      ],
      "webhookId": "51942fbb-ca0e-4ec4-9423-5fcc7d3c4281",
      "typeVersion": 1,
      "credentials": {
        "telegramApi": {
          "id": "j5rRdpRbhwcyVdR6",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "dataType": "string",
        "value1": "={{ $json.message?.text }}",
        "rules": {
          "rules": [
            {
              "operation": "notStartsWith",
              "value2": "/"
            },
            {
              "operation": "startsWith",
              "value2": "/start",
              "output": 1
            },
            {
              "operation": "startsWith",
              "value2": "=/image ",
              "output": 2
            }
          ]
        },
        "fallbackOutput": 3
      },
      "id": "d6bf2cd1-4d11-4579-b062-e4d9f7de5628",
      "name": "CheckCommand",
      "type": "n8n-nodes-base.switch",
      "position": [
        -256,
        608
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Error fallback for unsupported commands",
        "height": 231.22373949579838,
        "width": 316.1071428571428
      },
      "id": "5d372f32-20ce-4493-b7d6-7be2e90cc365",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        368,
        832
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "values": {
          "number": [
            {
              "name": "model_temperature",
              "value": 0.8
            },
            {
              "name": "token_length",
              "value": 500
            }
          ],
          "string": [
            {
              "name": "system_command",
              "value": "=You are a friendly chatbot. User name is {{ $json?.message?.from?.first_name }}. User system language is {{ $json?.message?.from?.language_code }}. First, detect user text language. Next, provide your reply in the same language. Include several suitable emojis in your answer."
            },
            {
              "name": "bot_typing",
              "value": "={{ $json?.message?.text.startsWith('/image') ? \"upload_photo\" : \"typing\" }}"
            }
          ]
        },
        "options": {}
      },
      "id": "802c5ac8-6f23-4827-8961-3e372459346a",
      "name": "Settings",
      "type": "n8n-nodes-base.set",
      "position": [
        -864,
        592
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "content": "## Chatbot mode by default\n### (when no command is provided)",
        "height": 233,
        "width": 330.5019024637719
      },
      "id": "7c224bf8-3a64-4cb1-85c0-028ec002e3e6",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        0,
        0
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Welcome message\n### /start",
        "height": 219.892857142857,
        "width": 330.7863484403046
      },
      "id": "93fd7c81-36d6-4015-a550-738dd0f8d8b5",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        0,
        272
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "resource": "chat",
        "prompt": {
          "messages": [
            {
              "role": "system",
              "content": "={{ $json.system_command }}"
            },
            {
              "content": "={{ $json.message.text }}"
            }
          ]
        },
        "options": {
          "maxTokens": "={{ $json.token_length }}",
          "temperature": "={{ $json.model_temperature }}"
        },
        "requestOptions": {}
      },
      "id": "1584f4dd-7a54-412d-b5b0-68b21d6a1180",
      "name": "Chat_mode",
      "type": "n8n-nodes-base.openAi",
      "position": [
        112,
        80
      ],
      "typeVersion": 1,
      "credentials": {
        "openAiApi": {
          "id": "5TyLlqrOgkpYJNKH",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "resource": "chat",
        "prompt": {
          "messages": [
            {
              "role": "system",
              "content": "={{ $json.system_command }}"
            },
            {
              "content": "=This is the first message from a user. Please welcome a new user in `{{ $json.message.from.language_code }}` language"
            }
          ]
        },
        "options": {
          "maxTokens": "={{ $json.token_length }}",
          "temperature": "={{ $json.model_temperature }}"
        },
        "requestOptions": {}
      },
      "id": "4734ba8d-85e8-420f-bcf6-0076d719f3b4",
      "name": "Greeting",
      "type": "n8n-nodes-base.openAi",
      "position": [
        112,
        320
      ],
      "typeVersion": 1,
      "credentials": {
        "openAiApi": {
          "id": "5TyLlqrOgkpYJNKH",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Settings').first().json.message.from.id }}",
        "text": "={{ $json.message.content }}",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "id": "5f564218-f72c-404b-b931-4782cb167204",
      "name": "Text reply",
      "type": "n8n-nodes-base.telegram",
      "position": [
        464,
        208
      ],
      "typeVersion": 1,
      "webhookId": "041150c5-f2ba-4b52-99d7-6833cbda7dba",
      "credentials": {
        "telegramApi": {
          "id": "j5rRdpRbhwcyVdR6",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "operation": "sendChatAction",
        "chatId": "={{ $json.message.from.id }}",
        "action": "={{ $json.bot_typing }}"
      },
      "id": "ed913374-daea-4ecb-a100-5983f5d621b1",
      "name": "Send Typing action",
      "type": "n8n-nodes-base.telegram",
      "position": [
        -656,
        720
      ],
      "typeVersion": 1,
      "webhookId": "a87c28c7-f4d5-4eca-9590-467def1dbce9",
      "credentials": {
        "telegramApi": {
          "id": "j5rRdpRbhwcyVdR6",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "mode": "chooseBranch"
      },
      "id": "0363c5f8-3268-41d3-abdd-9208fe5939c0",
      "name": "Merge",
      "type": "n8n-nodes-base.merge",
      "position": [
        -448,
        608
      ],
      "typeVersion": 2.1
    },
    {
      "parameters": {
        "content": "## Create an image\n### /image + request",
        "height": 233.8785714285713,
        "width": 329.7428571428562
      },
      "id": "ae4c2e2e-83e2-479a-86e3-5335b37a30a8",
      "name": "Sticky Note3",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        0,
        528
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "resource": "image",
        "prompt": "={{ $json.message.text.split(' ').slice(1).join(' ') }}",
        "responseFormat": "imageUrl",
        "options": {
          "n": 1,
          "size": "512x512"
        },
        "requestOptions": {}
      },
      "id": "20245344-ccf0-4841-a7ee-e595d5c1e497",
      "name": "Create an image",
      "type": "n8n-nodes-base.openAi",
      "position": [
        112,
        608
      ],
      "typeVersion": 1,
      "credentials": {
        "openAiApi": {
          "id": "5TyLlqrOgkpYJNKH",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $json.message.from.id }}",
        "text": "=Sorry, {{ $json.message.from.first_name }}! This command is not supported yet. Please type some text to a chat bot or try this command:\n/image \\[your prompt]\n\nEnter the command, then space and provide your request. Example:\n\n`/image a picture or a cute little kitten with big eyes. Miyazaki studio ghibli style`",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "id": "f8d12e56-257a-4e91-ac0e-abd0d94c8217",
      "name": "Send error message",
      "type": "n8n-nodes-base.telegram",
      "position": [
        464,
        912
      ],
      "typeVersion": 1,
      "webhookId": "fd71f246-0ea7-48a0-bd80-59781a6da279",
      "credentials": {
        "telegramApi": {
          "id": "j5rRdpRbhwcyVdR6",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "operation": "sendPhoto",
        "chatId": "={{ $('Settings').first().json.message.from.id }}",
        "file": "={{ $json.url }}",
        "additionalFields": {}
      },
      "id": "47bec091-6a8b-460c-b4fb-8b70dcb6ebd8",
      "name": "Send image",
      "type": "n8n-nodes-base.telegram",
      "position": [
        464,
        608
      ],
      "typeVersion": 1,
      "webhookId": "107dbfc3-2d3e-4bab-86c9-a8c140efc86d",
      "credentials": {
        "telegramApi": {
          "id": "j5rRdpRbhwcyVdR6",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "message.text",
              "value": "={{ $json?.message?.text || \"\" }}"
            }
          ]
        },
        "options": {
          "dotNotation": true
        }
      },
      "id": "73489d14-42cc-4035-89b8-c71bd4502500",
      "name": "PreProcessing",
      "type": "n8n-nodes-base.set",
      "position": [
        -1040,
        592
      ],
      "typeVersion": 2
    }
  ],
  "pinData": {},
  "connections": {
    "Merge": {
      "main": [
        [
          {
            "node": "CheckCommand",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Greeting": {
      "main": [
        [
          {
            "node": "Text reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Settings": {
      "main": [
        [
          {
            "node": "Send Typing action",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Chat_mode": {
      "main": [
        [
          {
            "node": "Text reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CheckCommand": {
      "main": [
        [
          {
            "node": "Chat_mode",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Greeting",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create an image",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send error message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PreProcessing": {
      "main": [
        [
          {
            "node": "Settings",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create an image": {
      "main": [
        [
          {
            "node": "Send image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "PreProcessing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Typing action": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "4a7ba9dc-ac56-43e4-9f7f-b3529fc70a53",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "823e05b53a9f039112409b0aaa9551637a59cfabac75361b5080b7ff7307d49a"
  },
  "id": "mjbh2sAEuVU88MJX",
  "tags": []
}