n8n_workflows/1_sourcing_and_invite.json
{
    "name": "1. Sourcing and Invitation",
    "nodes": [
        {
            "parameters": {
                "path": "trigger-sourcing",
                "responseMode": "lastNode",
                "options": {}
            },
            "name": "Webhook",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 1,
            "position": [
                250,
                300
            ]
        },
        {
            "parameters": {
                "url": "https://api.apify.com/v2/acts/apify~linkedin-profile-scraper/run-sync-get-dataset-items",
                "method": "POST",
                "authentication": "genericCredentialType",
                "genericAuthType": "httpHeaderAuth",
                "jsonParameters": true,
                "options": {},
                "bodyParametersJson": "={{JSON.stringify({ \"queries\": [$json[\"body\"][\"criteria\"]] })}}"
            },
            "name": "Apify Scraper",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 1,
            "position": [
                450,
                300
            ],
            "credentials": {
                "httpHeaderAuth": {
                    "id": "YOUR_APIFY_CREDENTIAL_ID",
                    "name": "Apify Token"
                }
            }
        },
        {
            "parameters": {
                "operation": "create",
                "baseId": "appYOURBASEID",
                "table": "Clients",
                "columns": {
                    "mappingMode": "defineBelow",
                    "value": {
                        "Name": "={{$json[\"fullName\"]}}",
                        "Email": "={{$json[\"email\"]}}",
                        "Status": "INVITACIÓN",
                        "LinkedIn": "={{$json[\"linkedinUrl\"]}}"
                    }
                }
            },
            "name": "Create in Airtable",
            "type": "n8n-nodes-base.airtable",
            "typeVersion": 1,
            "position": [
                650,
                300
            ],
            "credentials": {
                "airtableApi": {
                    "id": "YOUR_AIRTABLE_CREDENTIAL_ID",
                    "name": "Airtable API"
                }
            }
        },
        {
            "parameters": {
                "resource": "message",
                "subject": "Invitación al Congreso WMF Global",
                "message": "=Hola {{$json[\"Name\"]}},<br><br>Te invitamos al WMF Global Caribe Mexicano 2025.<br><br><a href=\"https://your-n8n-instance.com/webhook/rsvp?id={{$json[\"id\"]}}&response=yes\">ACEPTAR INVITACIÓN</a>",
                "toEmail": "={{$json[\"Email\"]}}"
            },
            "name": "Send Invitation Email",
            "type": "n8n-nodes-base.gmail",
            "typeVersion": 1,
            "position": [
                850,
                300
            ],
            "credentials": {
                "gmailOAuth2": {
                    "id": "YOUR_GMAIL_CREDENTIAL_ID",
                    "name": "Gmail Account"
                }
            }
        }
    ],
    "connections": {
        "Webhook": {
            "main": [
                [
                    {
                        "node": "Apify Scraper",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Apify Scraper": {
            "main": [
                [
                    {
                        "node": "Create in Airtable",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Create in Airtable": {
            "main": [
                [
                    {
                        "node": "Send Invitation Email",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    }
}